@use '../common' as *;

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: $font-family-base;
  font-size: 14px;
  line-height: 22px;
  color: $color-text;
  background-color: $color-bg;
}

@media (min-width: $breakpoint-md) {
  body {
    font-size: $font-size-base;
    line-height: $line-height-base;
  }
}
