@font-face {
  font-family: 'Myriad Pro';
  src:
    url('../../../fonts/MyriadPro/MyriadPro-Light.woff') format('woff'),
    url('../../../fonts/MyriadPro/MyriadPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src:
    url('../../../fonts/MyriadPro/MyriadPro-LightIt.woff') format('woff'),
    url('../../../fonts/MyriadPro/MyriadPro-LightIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src:
    url('../../../fonts/MyriadPro/MyriadPro-Regular.woff') format('woff'),
    url('../../../fonts/MyriadPro/MyriadPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src:
    url('../../../fonts/MyriadPro/MyriadPro-It.woff') format('woff'),
    url('../../../fonts/MyriadPro/MyriadPro-It.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src:
    url('../../../fonts/MyriadPro/MyriadPro-Semibold.woff') format('woff'),
    url('../../../fonts/MyriadPro/MyriadPro-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src:
    url('../../../fonts/MyriadPro/MyriadPro-SemiboldIt.woff') format('woff'),
    url('../../../fonts/MyriadPro/MyriadPro-SemiboldIt.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src:
    url('../../../fonts/MyriadPro/MyriadPro-Bold.woff') format('woff'),
    url('../../../fonts/MyriadPro/MyriadPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src:
    url('../../../fonts/MyriadPro/MyriadPro-BoldIt.woff') format('woff'),
    url('../../../fonts/MyriadPro/MyriadPro-BoldIt.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src:
    url('../../../fonts/MyriadPro/MyriadPro-Black.woff') format('woff'),
    url('../../../fonts/MyriadPro/MyriadPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src:
    url('../../../fonts/MyriadPro/MyriadPro-BlackIt.woff') format('woff'),
    url('../../../fonts/MyriadPro/MyriadPro-BlackIt.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
